<div class="card">
    <div>{% block first %} {% endblock %}</div>
    {{ customer.id }}
    {{ customer.firstName }}
    {{ customer.lastName }}
    <div class="">{% block last %} {% endblock %}</div> 
    <p>first commit</p>
    <p>first amend</p>
</div>